@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image
{
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2w1YXA3bWdsaDd1NHB4MHBxNnMyb2M1MHpzZ214ODNmN2Q3c3YzdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fRhFRjtPCdIRlIomdc/giphy.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
